.sushma-centerheader{
    text-align: center;
    background-color: rgb(123, 219, 246);
}
.sushma-profile-pic{
    border-radius: 50%;
}

.carousel-item {
 height: 500px;
    text-align: center;
}


.item1 {
  background-color:rgb(38, 163, 163);
  /height: 100px;/
}

.item2 {
  background-color:rgba(24, 124, 167, 0.833);
  /height: 100px;/
}

.item3 {
  background-color:rgb(8, 59, 91);
  /height: 100px;/
}
